html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #3d4d62;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #ededed !important;
/ / 字体颜色 -webkit-box-shadow: 0 0 0 px 1000 px transparent inset !important;
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s;
/ / 背景色透明 生效时长 过渡效果 启用时延迟的时间
}


h1 {
    text-align: center;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
}

.top-nav-left {
    margin: 0;
    position: absolute;
    top: 12%;
    left: 8%;
    font-size: 50px;
    color: white;
    padding: 0;
}

.login-nav-right {
    padding: 0;
    position: absolute;
    right: 10%;
    top: 27%;
}

.login-nav-right a {
    float: left;
    margin-left: 25px;
    color: white;
    font-size: 20px;
}

.div_main {
    position: absolute;
    top: 30%;
    left: 37%;
    width: 400px;
    height: 450px;
}

.icon1 {
    margin: 0 0 1em;
    border: 1px solid #525252;
    padding: .7em 0;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 26px;
}

.input_c {
    outline: none;
    font-size: 15px;
    color: #fff;
    border: none;
    width: 90%;
    display: inline-block;
    background: transparent;
    font-family: 'Muli', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    z-index: 2;
}
#inputPhone{
    position: absolute;
    top: 20%;
    left: 0;
    width: 70%;
    height: 5%;
}
#inputVerification{
    position: absolute;
    top: 40%;
    left: 0;
    width: 70%;
    height: 5%;
    display: none;
}
#inputPass{
    position: absolute;
    top: 40%;
    left: 0;
    width: 70%;
    height: 5%;
    display: none;
}
#veri_btn{
    position: absolute;
    top: 20%;
    right: 0;
    width: 25%;
    height: 10%;
}
#sure_btn{
    position: absolute;
    top: 40%;
    right: 0;
    width: 25%;
    height: 10%;
    display: none;
}
#submit_btn{
    position: absolute;
    top: 40%;
    right: 0;
    width: 25%;
    height: 10%;
    display: none;
}