<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpj.mapper.WorkerMapper">
    <insert id="insertWorker">
        insert into WORKER (
        ACCOUNT,
        WORKER_NUMBER,
        SATISFACTION_LEVEL,
        LAST_EVALUATION,
        NUMBER_PROJECT,
        AVERAGE_MONTHLY_HOURS,
        TIME_SPEND_COMPANY,
        WORK_ACCIDENT,
        LEFT,
        PROMOTION,
        SALES,
        SALARY) VALUES (
        #{account},
        #{worker_number},
        #{satisfaction_level},
        #{last_evaluation},
        #{number_project},
        #{average_monthly_hours},
        #{time_spend_company},
        #{work_accident},
        #{left},
        #{promotion},
        #{sales},
        #{salary})

    </insert>

    <select id="queryAllNumber" resultType="string">
        select COUNT(*) from WORKER
    </select>

    <select id="queryLeftNumber" resultType="string">
        select COUNT(*) from WORKER where LEFT = '1'
    </select>

    <select id="queryWorker" resultType="com.zpj.pojo.Worker">
        SELECT * FROM WORKER WHERE account = #{account}
    </select>

    <delete id="deleteWorker">
        DELETE FROM WORKER where account = #{account}
        and worker_number = #{workerNumber}
        and satisfaction_level = #{satisfactionLevel}
        and last_evaluation = #{lastEvaluation}
        and number_project = #{numberProject}
        and average_monthly_hours = #{averageMonthlyHours}
        and time_spend_company = #{timeSpendCompany}
        and work_accident = #{workAccident}
        and left = #{left}
        and promotion= #{promotion}
        and sales = #{sales}
        and salary = #{salary}
    </delete>



</mapper>