<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <!--别名-->
        <servlet-name>login</servlet-name>
        <!--servlet所在的类-->
        <servlet-class>com.zpj.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <!--别名-->
        <servlet-name>login</servlet-name>
        <!--资源名-->
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>smsServlet</servlet-name>
        <servlet-class>com.zpj.servlet.SmsLoginServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>smsServlet</servlet-name>
        <url-pattern>/SmsLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.zpj.servlet.RegisterServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AnalysisAllServlet</servlet-name>
        <servlet-class>com.zpj.servlet.AnalysisAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalysisAllServlet</servlet-name>
        <url-pattern>/AnalysisAllServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AnalysisPartServlet</servlet-name>
        <servlet-class>com.zpj.servlet.AnalysisPartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalysisPartServlet</servlet-name>
        <url-pattern>/AnalysisPartServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.zpj.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InsertWorkerServlet</servlet-name>
        <servlet-class>com.zpj.servlet.InsertWorkerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertWorkerServlet</servlet-name>
        <url-pattern>/InsertWorkerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertMultiWorkerServlet</servlet-name>
        <servlet-class>com.zpj.servlet.InsertMultiWorkerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertMultiWorkerServlet</servlet-name>
        <url-pattern>/InsertMultiWorkerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>findPassServlet</servlet-name>
        <servlet-class>com.zpj.servlet.FindPassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findPassServlet</servlet-name>
        <url-pattern>/FindPassServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>leftRatioServlet</servlet-name>
        <servlet-class>com.zpj.servlet.LeftRatioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>leftRatioServlet</servlet-name>
        <url-pattern>/LeftRatioServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.zpj.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginPassServlet</servlet-name>
        <servlet-class>com.zpj.servlet.LoginPassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginPassServlet</servlet-name>
        <url-pattern>/LoginPassServlet</url-pattern>
    <servlet>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <servlet-class>com.zpj.servlet.DeleteHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <url-pattern>/DeleteHistoryServlet</url-pattern>

    </servlet-mapping>

   <welcome-file-list>
       <welcome-file>frontPage.jsp</welcome-file>
   </welcome-file-list>
    <!--<welcome-file-list>-->
        <!--<welcome-file>../test.jsp</welcome-file>-->
    <!--</welcome-file-list>-->
</web-app>
